<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>FCC Express Tutorial</title>
  
  <!-- href=pathToStyles rel=relationship type= MIME type text/_  -->
  <link href="styles.css" rel="stylesheet" type="text/css"/>
</head>
<body>
  <h1>Loaded Up!</h1>
  <br><br>
  <ul>
    <li>/exercise 2</li>
    <li>/api/people</li>
    <li>/baseData</li>
    <li>/alterData</li>
    <li>/now</li>
    <li>/name?first=_&last=_</li>
    <li>/req</li>
    <li>/:word</li>
  </ul>

  <!-- Scripts must be in public -->
  <script src="js/client.js"></script>
</body>
</html>