html {
  height: 100%;
}

body {
  height: 100%;
  background: linear-gradient(rgb(255, 94, 118), rgb(243, 174, 174));
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  width: 100%;
  
  padding-top: 24px;
  padding-bottom: 24px;
  
  text-align: center;

  border-top: 2px solid white;
  border-bottom: 2px solid white;

  text-shadow: 2px 2px 4px rgb(152, 151, 151);
}